In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import datetime

In [2]:
url = '/Users/skydivedavis/Downloads/seasonal_mta_data_01.csv'
df = pd.read_csv(url, header = 0, sep=',')
df.columns = map(str.lower, df.columns) # - make headers lowercase
df.columns = df.columns.str.strip().str.lower()

In [3]:
print (df.head(5))

   unnamed: 0   c/a  unit       scp station linename division        date  \
0           0  A002  R051  02-00-00   59 ST   NQR456      BMT  02/27/2016
1           1  A002  R051  02-00-00   59 ST   NQR456      BMT  02/27/2016
2           2  A002  R051  02-00-00   59 ST   NQR456      BMT  02/27/2016
3           3  A002  R051  02-00-00   59 ST   NQR456      BMT  02/27/2016
4           4  A002  R051  02-00-00   59 ST   NQR456      BMT  02/27/2016

       time     desc  entries    exits
0  03:00:00  REGULAR  5562172  1877574
1  07:00:00  REGULAR  5562184  1877586
2  11:00:00  REGULAR  5562267  1877691
3  15:00:00  REGULAR  5562516  1877745
4  19:00:00  REGULAR  5562920  1877821

In [4]:
#Convert a tuple into a string for indexing purposes. This is an unfortunate kludge that was necessary due to having
#trouble using a tuple as an index
def string_from_tuple (tup):
    return tup[0]+','+tup[1]+','+str(tup[2])


df['ttime'] = pd.to_datetime(df['time'])
df['tdate'] = pd.to_datetime(df['date'])
df['datetime'] = df.apply (lambda x: datetime.datetime (x['tdate'].year, x['tdate'].month, x['tdate'].day,
                                                       x['ttime'].hour), axis=1)
df.drop (['ttime','tdate'], inplace=True, axis=1)

df['exit_increments'] = df['exits']
df['entry_increments'] = df['entries']
df['previous_entry_number'] = df['entries']
df['time_block'] = df['entries']
df['previous_datetime'] = df['datetime']

In [5]:
print (df)

          unnamed: 0    c/a  unit       scp        station linename division  \
0                  0   A002  R051  02-00-00          59 ST   NQR456      BMT
1                  1   A002  R051  02-00-00          59 ST   NQR456      BMT
2                  2   A002  R051  02-00-00          59 ST   NQR456      BMT
3                  3   A002  R051  02-00-00          59 ST   NQR456      BMT
4                  4   A002  R051  02-00-00          59 ST   NQR456      BMT
5                  5   A002  R051  02-00-00          59 ST   NQR456      BMT
6                  6   A002  R051  02-00-00          59 ST   NQR456      BMT
7                  7   A002  R051  02-00-00          59 ST   NQR456      BMT
8                  8   A002  R051  02-00-00          59 ST   NQR456      BMT
9                  9   A002  R051  02-00-00          59 ST   NQR456      BMT
10                10   A002  R051  02-00-00          59 ST   NQR456      BMT
11                11   A002  R051  02-00-00          59 ST   NQR456      BMT
12                12   A002  R051  02-00-00          59 ST   NQR456      BMT
13                13   A002  R051  02-00-00          59 ST   NQR456      BMT
14                14   A002  R051  02-00-00          59 ST   NQR456      BMT
15                15   A002  R051  02-00-00          59 ST   NQR456      BMT
16                16   A002  R051  02-00-00          59 ST   NQR456      BMT
17                17   A002  R051  02-00-00          59 ST   NQR456      BMT
18                18   A002  R051  02-00-00          59 ST   NQR456      BMT
19                19   A002  R051  02-00-00          59 ST   NQR456      BMT
20                20   A002  R051  02-00-00          59 ST   NQR456      BMT
21                21   A002  R051  02-00-00          59 ST   NQR456      BMT
22                22   A002  R051  02-00-00          59 ST   NQR456      BMT
23                23   A002  R051  02-00-00          59 ST   NQR456      BMT
24                24   A002  R051  02-00-00          59 ST   NQR456      BMT
25                25   A002  R051  02-00-00          59 ST   NQR456      BMT
26                26   A002  R051  02-00-00          59 ST   NQR456      BMT
27                27   A002  R051  02-00-00          59 ST   NQR456      BMT
28                28   A002  R051  02-00-00          59 ST   NQR456      BMT
29                29   A002  R051  02-00-00          59 ST   NQR456      BMT
...              ...    ...   ...       ...            ...      ...      ...
13878788    13878788  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878789    13878789  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878790    13878790  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878791    13878791  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878792    13878792  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878793    13878793  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878794    13878794  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878795    13878795  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878796    13878796  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878797    13878797  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878798    13878798  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878799    13878799  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878800    13878800  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878801    13878801  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878802    13878802  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878803    13878803  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878804    13878804  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878805    13878805  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878806    13878806  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878807    13878807  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878808    13878808  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878809    13878809  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878810    13878810  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878811    13878811  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878812    13878812  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878813    13878813  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878814    13878814  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878815    13878815  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878816    13878816  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT
13878817    13878817  TRAM2  R469  00-05-01  RIT-ROOSEVELT        R      RIT

                date      time     desc  entries    exits            datetime  \
0         02/27/2016  03:00:00  REGULAR  5562172  1877574 2016-02-27 03:00:00
1         02/27/2016  07:00:00  REGULAR  5562184  1877586 2016-02-27 07:00:00
2         02/27/2016  11:00:00  REGULAR  5562267  1877691 2016-02-27 11:00:00
3         02/27/2016  15:00:00  REGULAR  5562516  1877745 2016-02-27 15:00:00
4         02/27/2016  19:00:00  REGULAR  5562920  1877821 2016-02-27 19:00:00
5         02/27/2016  23:00:00  REGULAR  5563175  1877862 2016-02-27 23:00:00
6         02/28/2016  03:00:00  REGULAR  5563262  1877882 2016-02-28 03:00:00
7         02/28/2016  07:00:00  REGULAR  5563273  1877892 2016-02-28 07:00:00
8         02/28/2016  11:00:00  REGULAR  5563346  1877954 2016-02-28 11:00:00
9         02/28/2016  15:00:00  REGULAR  5563545  1878026 2016-02-28 15:00:00
10        02/28/2016  19:00:00  REGULAR  5563838  1878078 2016-02-28 19:00:00
11        02/28/2016  23:00:00  REGULAR  5564010  1878116 2016-02-28 23:00:00
12        02/29/2016  03:00:00  REGULAR  5564033  1878126 2016-02-29 03:00:00
13        02/29/2016  07:00:00  REGULAR  5564051  1878164 2016-02-29 07:00:00
14        02/29/2016  10:26:51  REGULAR  5564205  1878502 2016-02-29 10:00:00
15        02/29/2016  11:00:00  REGULAR  5564222  1878529 2016-02-29 11:00:00
16        02/29/2016  15:00:00  REGULAR  5564463  1878602 2016-02-29 15:00:00
17        02/29/2016  19:00:00  REGULAR  5565408  1878675 2016-02-29 19:00:00
18        02/29/2016  23:00:00  REGULAR  5565775  1878720 2016-02-29 23:00:00
19        03/01/2016  03:00:00  REGULAR  5565799  1878725 2016-03-01 03:00:00
20        03/01/2016  07:00:00  REGULAR  5565818  1878770 2016-03-01 07:00:00
21        03/01/2016  08:32:18  REGULAR  5565885  1878897 2016-03-01 08:00:00
22        03/01/2016  11:00:00  REGULAR  5565995  1879119 2016-03-01 11:00:00
23        03/01/2016  15:00:00  REGULAR  5566266  1879204 2016-03-01 15:00:00
24        03/01/2016  19:00:00  REGULAR  5567159  1879313 2016-03-01 19:00:00
25        03/01/2016  23:00:00  REGULAR  5567536  1879371 2016-03-01 23:00:00
26        03/02/2016  03:00:00  REGULAR  5567572  1879378 2016-03-02 03:00:00
27        03/02/2016  07:00:00  REGULAR  5567595  1879422 2016-03-02 07:00:00
28        03/02/2016  11:00:00  REGULAR  5567779  1879775 2016-03-02 11:00:00
29        03/02/2016  15:00:00  REGULAR  5568020  1879869 2016-03-02 15:00:00
...              ...       ...      ...      ...      ...                 ...
13878788  06/24/2019  01:00:00  REGULAR     5554      379 2019-06-24 01:00:00
13878789  06/24/2019  05:00:00  REGULAR     5554      379 2019-06-24 05:00:00
13878790  06/24/2019  09:00:00  REGULAR     5554      379 2019-06-24 09:00:00
13878791  06/24/2019  13:00:00  REGULAR     5554      379 2019-06-24 13:00:00
13878792  06/24/2019  17:00:00  REGULAR     5554      379 2019-06-24 17:00:00
13878793  06/24/2019  21:00:00  REGULAR     5554      379 2019-06-24 21:00:00
13878794  06/25/2019  01:00:00  REGULAR     5554      379 2019-06-25 01:00:00
13878795  06/25/2019  05:00:00  REGULAR     5554      379 2019-06-25 05:00:00
13878796  06/25/2019  09:00:00  REGULAR     5554      379 2019-06-25 09:00:00
13878797  06/25/2019  13:00:00  REGULAR     5554      379 2019-06-25 13:00:00
13878798  06/25/2019  17:00:00  REGULAR     5554      379 2019-06-25 17:00:00
13878799  06/25/2019  21:00:00  REGULAR     5554      379 2019-06-25 21:00:00
13878800  06/26/2019  01:00:00  REGULAR     5554      379 2019-06-26 01:00:00
13878801  06/26/2019  05:00:00  REGULAR     5554      379 2019-06-26 05:00:00
13878802  06/26/2019  09:00:00  REGULAR     5554      379 2019-06-26 09:00:00
13878803  06/26/2019  13:00:00  REGULAR     5554      379 2019-06-26 13:00:00
13878804  06/26/2019  17:00:00  REGULAR     5554      379 2019-06-26 17:00:00
13878805  06/26/2019  21:00:00  REGULAR     5554      379 2019-06-26 21:00:00
13878806  06/27/2019  01:00:00  REGULAR     5554      379 2019-06-27 01:00:00
13878807  06/27/2019  05:00:00  REGULAR     5554      379 2019-06-27 05:00:00
13878808  06/27/2019  09:00:00  REGULAR     5554      379 2019-06-27 09:00:00
13878809  06/27/2019  13:00:00  REGULAR     5554      379 2019-06-27 13:00:00
13878810  06/27/2019  17:00:00  REGULAR     5554      379 2019-06-27 17:00:00
13878811  06/27/2019  21:00:00  REGULAR     5554      379 2019-06-27 21:00:00
13878812  06/28/2019  01:00:00  REGULAR     5554      379 2019-06-28 01:00:00
13878813  06/28/2019  05:00:00  REGULAR     5554      379 2019-06-28 05:00:00
13878814  06/28/2019  09:00:00  REGULAR     5554      379 2019-06-28 09:00:00
13878815  06/28/2019  13:00:00  REGULAR     5554      379 2019-06-28 13:00:00
13878816  06/28/2019  17:00:00  REGULAR     5554      379 2019-06-28 17:00:00
13878817  06/28/2019  21:00:00  REGULAR     5554      379 2019-06-28 21:00:00

          exit_increments  entry_increments  previous_entry_number  \
0                 1877574           5562172                5562172
1                 1877586           5562184                5562184
2                 1877691           5562267                5562267
3                 1877745           5562516                5562516
4                 1877821           5562920                5562920
5                 1877862           5563175                5563175
6                 1877882           5563262                5563262
7                 1877892           5563273                5563273
8                 1877954           5563346                5563346
9                 1878026           5563545                5563545
10                1878078           5563838                5563838
11                1878116           5564010                5564010
12                1878126           5564033                5564033
13                1878164           5564051                5564051
14                1878502           5564205                5564205
15                1878529           5564222                5564222
16                1878602           5564463                5564463
17                1878675           5565408                5565408
18                1878720           5565775                5565775
19                1878725           5565799                5565799
20                1878770           5565818                5565818
21                1878897           5565885                5565885
22                1879119           5565995                5565995
23                1879204           5566266                5566266
24                1879313           5567159                5567159
25                1879371           5567536                5567536
26                1879378           5567572                5567572
27                1879422           5567595                5567595
28                1879775           5567779                5567779
29                1879869           5568020                5568020
...                   ...               ...                    ...
13878788              379              5554                   5554
13878789              379              5554                   5554
13878790              379              5554                   5554
13878791              379              5554                   5554
13878792              379              5554                   5554
13878793              379              5554                   5554
13878794              379              5554                   5554
13878795              379              5554                   5554
13878796              379              5554                   5554
13878797              379              5554                   5554
13878798              379              5554                   5554
13878799              379              5554                   5554
13878800              379              5554                   5554
13878801              379              5554                   5554
13878802              379              5554                   5554
13878803              379              5554                   5554
13878804              379              5554                   5554
13878805              379              5554                   5554
13878806              379              5554                   5554
13878807              379              5554                   5554
13878808              379              5554                   5554
13878809              379              5554                   5554
13878810              379              5554                   5554
13878811              379              5554                   5554
13878812              379              5554                   5554
13878813              379              5554                   5554
13878814              379              5554                   5554
13878815              379              5554                   5554
13878816              379              5554                   5554
13878817              379              5554                   5554

          time_block   previous_datetime
0            5562172 2016-02-27 03:00:00
1            5562184 2016-02-27 07:00:00
2            5562267 2016-02-27 11:00:00
3            5562516 2016-02-27 15:00:00
4            5562920 2016-02-27 19:00:00
5            5563175 2016-02-27 23:00:00
6            5563262 2016-02-28 03:00:00
7            5563273 2016-02-28 07:00:00
8            5563346 2016-02-28 11:00:00
9            5563545 2016-02-28 15:00:00
10           5563838 2016-02-28 19:00:00
11           5564010 2016-02-28 23:00:00
12           5564033 2016-02-29 03:00:00
13           5564051 2016-02-29 07:00:00
14           5564205 2016-02-29 10:00:00
15           5564222 2016-02-29 11:00:00
16           5564463 2016-02-29 15:00:00
17           5565408 2016-02-29 19:00:00
18           5565775 2016-02-29 23:00:00
19           5565799 2016-03-01 03:00:00
20           5565818 2016-03-01 07:00:00
21           5565885 2016-03-01 08:00:00
22           5565995 2016-03-01 11:00:00
23           5566266 2016-03-01 15:00:00
24           5567159 2016-03-01 19:00:00
25           5567536 2016-03-01 23:00:00
26           5567572 2016-03-02 03:00:00
27           5567595 2016-03-02 07:00:00
28           5567779 2016-03-02 11:00:00
29           5568020 2016-03-02 15:00:00
...              ...                 ...
13878788        5554 2019-06-24 01:00:00
13878789        5554 2019-06-24 05:00:00
13878790        5554 2019-06-24 09:00:00
13878791        5554 2019-06-24 13:00:00
13878792        5554 2019-06-24 17:00:00
13878793        5554 2019-06-24 21:00:00
13878794        5554 2019-06-25 01:00:00
13878795        5554 2019-06-25 05:00:00
13878796        5554 2019-06-25 09:00:00
13878797        5554 2019-06-25 13:00:00
13878798        5554 2019-06-25 17:00:00
13878799        5554 2019-06-25 21:00:00
13878800        5554 2019-06-26 01:00:00
13878801        5554 2019-06-26 05:00:00
13878802        5554 2019-06-26 09:00:00
13878803        5554 2019-06-26 13:00:00
13878804        5554 2019-06-26 17:00:00
13878805        5554 2019-06-26 21:00:00
13878806        5554 2019-06-27 01:00:00
13878807        5554 2019-06-27 05:00:00
13878808        5554 2019-06-27 09:00:00
13878809        5554 2019-06-27 13:00:00
13878810        5554 2019-06-27 17:00:00
13878811        5554 2019-06-27 21:00:00
13878812        5554 2019-06-28 01:00:00
13878813        5554 2019-06-28 05:00:00
13878814        5554 2019-06-28 09:00:00
13878815        5554 2019-06-28 13:00:00
13878816        5554 2019-06-28 17:00:00
13878817        5554 2019-06-28 21:00:00

[13878818 rows x 18 columns]

In [6]:
#This creates the dataframe that will be used to store entries for a given station/control area pair for hours
#of the day
tuple1 = ('59 ST', 'A002', 1)

#Convert a tuple into a string for indexing purposes. This is an unfortunate kludge that was necessary due to having
#trouble using a tuple as an index
def string_from_tuple (tup):
    return tup[0]+','+tup[1]+','+str(tup[2])

summary_data = pd.DataFrame(
    data={'c_a_station_time_block': [tuple1],
          'c_a_station': [('59 ST', 'A002')],
          'time_block': [1],
          'entries': [0]},
    index=[string_from_tuple (tuple1)],
    columns=['c_a_station_time_block', 'c_a_station', 'time_block', 'entries'])

#Tabulate the number of entries over a particular four hour block at a particular station/control area pair
def tabulate_entries (ix, data_frame):
    station = data_frame.at [ix, 'station']
    control_area = data_frame.at [ix, 'c/a']
    time_block = data_frame.at [ix, 'time_block']
    entries = data_frame.at [ix, 'entry_increments']
    c_a_station = (station, control_area)
    c_a_station_time_block = (station, control_area, time_block)
    summary_index = string_from_tuple (c_a_station_time_block)
    try:
        existing_entries = summary_data.at [summary_index, 'entries']
        summary_data.at [summary_index, 'entries'] = entries + existing_entries
    except KeyError:
        summary_data.loc [summary_index] = [c_a_station_time_block, c_a_station, time_block, entries]

#Converts a datetime to an integer code representing the four hour block in the week, because
#MTA generally uses four hour intervals. 12am-2am Saturday = 0, 2am-6am Saturday = 1, and so on up to
#6pm-10pm Friday = 41, 10pm-midnight Friday = 42
def convert_datetime_to_four_hour_block (dt):
    day_of_week = dt.weekday()
    day_of_week += 2
    if day_of_week >= 7:
        day_of_week -= 7
    hour = round((dt.hour+.01)/4)
    result = int((6*day_of_week) + hour)
    return result

def max_minus_min_exits (x):
    first_iteration = True
    previous_exits = 0
    for index, row in x.iteritems():
        if first_iteration:
            first_iteration = False
            previous_exits = row
            df.at [index, 'exit_increments'] = -1
        else:
            df.at [index, 'exit_increments'] = row - previous_exits
            previous_exits = row
    result = x.max()-x.min()
    return result
    
def max_minus_min_entries (x):
    first_iteration = True
    previous_entries = 0
    previous_datetime = datetime.datetime (1980,1,1)
    for index, row in x.iteritems():
        if first_iteration:
            first_iteration = False
            previous_entries = row
            df.at [index, 'previous_datetime'] = previous_datetime
            previous_datetime = df.at [index, 'datetime']
            df.at [index, 'entry_increments'] = -1
            df.at [index, 'previous_entry_number'] = -1
            df.at [index, 'time_block'] = -1
        else:
            df.at [index, 'previous_datetime'] = previous_datetime
            previous_datetime = df.at [index, 'datetime']
            entry_count = row - previous_entries
            df.at [index, 'entry_increments'] = entry_count
            df.at [index, 'previous_entry_number'] = previous_entries
            df.at [index, 'time_block'] = convert_datetime_to_four_hour_block (previous_datetime)
            if (entry_count >0) and (entry_count < 5000):
                tabulate_entries (index, df)
            previous_entries = row
    result = x.max()-x.min()
    return result
    
dfgb_exit_group = df.groupby (['station', 'c/a', 'unit', 'scp']) ['exits'].apply (max_minus_min_exits)
dfgb_entry_group = df.groupby (['station', 'c/a', 'unit', 'scp']) ['entries'].apply (max_minus_min_entries)
dfgb2 = dfgb_exit_group.groupby ('station')
dfgb3 = dfgb2.apply (lambda x:x.sum())
dfgb4 = dfgb3.sort_values (0, False)
#print (dfgb4)
#print (dfgb4.sum())
#print(len(dfgb4))
dfgb4.tail(360).sum()
dfgb=dfgb_exit_group.sort_values (0, False)
print (dfgb.sum())
print (len(dfgb))
print (dfgb)
dfgb.tail(4875).sum()

157781935560
5141
station          c/a    unit  scp
BOWLING GREEN    R201   R041  00-00-00    2145171687
61 ST WOODSIDE   R523   R147  00-00-04    2110118363
LORIMER ST       J005   R353  00-00-01    2097169634
34 ST-HERALD SQ  A025   R023  01-03-02    2049820042
                 N506   R022  00-05-04    2041457012
7 AV             N539   R288  00-03-01    2029873651
47-50 STS ROCK   N501   R020  01-03-02    2025547066
CANAL ST         A066   R118  00-00-02    2023163078
1 AV             H008   R248  01-00-00    2013192114
ELMHURST AV      N325A  R218  00-05-01    1973057511
                              00-06-01    1944272744
104 ST           J034   R007  00-00-01    1906327580
HIGH ST          N100   R252  00-00-01    1899462396
28 ST            R228   R143  00-00-01    1880724421
182-183 STS      N215   R237  00-00-02    1838798762
190 ST           N006A  R280  00-00-00    1836854532
167 ST           N207   R104  00-00-00    1822962385
34 ST-HERALD SQ  A025   R023  01-03-01    1806740893
57 ST-7 AV       A011   R080  01-00-04    1777526353
HIGH ST          N100   R252  00-00-02    1772676970
GRANT AV         N129   R382  00-00-00    1756683186
CANAL ST         A066   R118  00-00-00    1756274984
72 ST            R161B  R452  00-00-03    1753131684
EASTCHSTER/DYRE  R730   R431  00-00-04    1727194578
LEXINGTON AV/53  N305   R017  01-00-04    1706222667
103 ST           R252   R180  00-03-02    1686698922
116 ST           N029   R333  01-00-02    1627017932
51 ST            R243   R049  00-03-04    1610668464
CHURCH AV        R639   R109  00-06-00    1571939538
104 ST           N137   R354  00-06-00    1551674890
                                             ...
W 8 ST-AQUARIUM  G015   R312  01-05-00             0
135 ST           R307   R207  01-05-00             0
170 ST           N208   R443  01-05-00             0
FULTON ST        A081   R028  04-05-00             0
34 ST-PENN STA   R138   R293  00-05-00             0
MYRTLE-WILLOUGH  N416   R286  01-05-00             0
RIT-ROOSEVELT    TRAM2  R469  00-05-00             0
FAR ROCKAWAY     N196   R285  00-05-00             0
W 4 ST-WASH SQ   N083   R138  01-05-00             0
CASTLE HILL AV   R418   R106  00-06-00             0
RIT-MANHATTAN    TRAM1  R468  00-05-01             0
CROWN HTS-UTICA  R626   R062  00-05-00             0
CANARSIE-ROCKAW  H041   R152  00-05-00             0
FLATBUSH AV-B.C  R645   R110  00-05-00             0
FULTON ST        N095A  R014  01-05-00             0
MIDDLETOWN RD    R421   R427  00-06-00             0
OZONE PK LEFFRT  N141   R356  00-06-00             0
METS-WILLETS PT  R532H  R328  02-05-00             0
42 ST-BRYANT PK  N504   R021  02-10-05             0
42 ST-PORT AUTH  N060   R010  01-05-00             0
                 N062   R011  01-05-00             0
GRD CNTRL-42 ST  R240   R047  00-05-00             0
VERNON-JACKSON   R506   R276  02-05-00             0
ST LAWRENCE AV   R416   R245  00-05-00             0
WTC-CORTLANDT    R106   R305  01-05-00             0
VERNON-JACKSON   R504   R276  00-FF-01             0
CANAL ST         A046   R463  00-05-02             0
                              00-05-00             0
42 ST-PORT AUTH  N063A  R011  00-05-00             0
161/YANKEE STAD  N203   R195  00-05-00             0
Name: exits, Length: 5141, dtype: int64

6653005617

In [7]:
import matplotlib.pyplot as plt
import matplotlib

from matplotlib.pyplot import figure
figure(num=None, figsize=(14, 8), dpi=80, facecolor='w', edgecolor='k')

legends = []

# This function reorders a sequence of x values that may not be in the right order for plotting
# For now this is not implemented in a very efficient way
# This function takes as a parameter a station and control area pair
def do_plotting (station, control_area):
    xsa = []
    ysa = []
    entry_data = summary_data.loc[summary_data['c_a_station'] == (station, control_area)]

    xs = entry_data ['time_block']
    ys = entry_data ['entries']
    
    for i in range (0, 43):
        for j in range (0, len(xs)):
            if (xs[j] == i):
                xsa.append (i)
                ysa.append (ys[j])
    plt.plot (xsa, ysa)
    legends.append (station + ' at ' + control_area)


summary_data_sums = summary_data.groupby (['c_a_station']) ['entries'].apply (lambda x:x.sum())
#print (summary_data_sums)
print (summary_data_sums.sort_values(ascending=False))

legends = []

plt.savefig('top_five_control_areas.png', bbox_inches='tight')
axes= plt.axes()
axes.set_xticks ([0,6,12,18,24,30,36,42])
axes.set_xticklabels (['Saturday midnite','Sunday midnite','Monday midnite','Tuesday midnite','Wednesday midnite','Thursday midnite','Friday midnite','Saturday midnite'])



do_plotting ('GRD CNTRL-42 ST', 'R238A')
do_plotting ('34 ST-PENN STA', 'R138')
do_plotting ('FLUSHING-MAIN', 'R533')
do_plotting ('JKSN HT-ROOSVLT', 'N324')
do_plotting ('59 ST COLUMBUS', 'N051')
plt.legend (legends, shadow = True, loc = 0);
plt.title('Entries at Top Five Control Areas by Day of Week--2016 to 2019')
plt.xlabel ('Time of Week')
plt.ylabel ('Total Entries')
plt.axis ([0,42,0,1800000])
#plt.show()

plt.savefig('top_five_control_areas.png')
print('succeeded')

c_a_station
(GRD CNTRL-42 ST, R238)     20414637
(34 ST-PENN STA, R138)      19014550
(FLUSHING-MAIN, R533)       18201481
(JKSN HT-ROOSVLT, N324)     17040369
(59 ST COLUMBUS, N051)      16877656
(PATH NEW WTC, PTH22)       16685189
(86 ST, R250)               15313034
(14 ST-UNION SQ, R221)      14470702
(34 ST-HERALD SQ, N506)     14402053
(GRD CNTRL-42 ST, R240)     13738854
(W 4 ST-WASH SQ, N083)      12699433
(BEDFORD AV, H009)          12588033
(JAMAICA CENTER, N606)      11898349
(TIMES SQ-42 ST, R151)      11635452
(47-50 STS ROCK, N500)      11623595
(125 ST, R258)              11032882
(34 ST-HERALD SQ, A025)     11004409
(8 AV, H001)                10990899
(GRAND ST, N520)            10697190
(96 ST, R169)               10691248
(42 ST-PORT AUTH, N063A)    10670469
(68ST-HUNTER CO, R246)      10537599
(JOURNAL SQUARE, PTH03)     10507087
(SUTPHIN-ARCHER, N605)      10424235
(34 ST-PENN STA, N072)      10251311
(14 ST-UNION SQ, A033)      10031424
(THIRTY THIRD ST, PTH17)    10004876
(LEXINGTON AV/53, N306)      9978704
(JAY ST-METROTEC, N103)      9975201
(FULTON ST, N095)            9927980
                              ...
(DITMAS AV, N547)             363720
(WTC-CORTLANDT, R107)         363223
(25 ST, C017)                 358865
(111 ST, N138)                355473
(TOMPKINSVILLE, S102)         352873
(E 143/ST MARY'S, R406)       343839
(WALL ST, R203A)              334442
(CYPRESS AV, R405)            333468
(LONGWOOD AV, R411)           318326
(AVENUE N, N554)              313461
(BEACH 44 ST, N193)           313086
(ROCKAWAY PARK B, N187)       304072
(BAY RIDGE AV, C027)          292478
(CORTLANDT ST, A053)          289432
(161/YANKEE STAD, R262B)      273847
(28 ST, R230)                 260040
(WALL ST, R204A)              223652
(BEACH 98 ST, N185)           222698
(BAY RIDGE AV, C028)          196524
(HOWARD BCH JFK, JFK01)       184060
(WTC-CORTLANDT, R108)         170892
(WTC-CORTLANDT, R109)         167924
(8 AV, D001)                  147059
(BROAD CHANNEL, N183)         129710
(NEWKIRK AV, R644)            122170
(BEACH 105 ST, N186)          114153
(E 143/ST MARY'S, R407)        83921
(WTC-CORTLANDT, R108A)         28327
(ORCHARD BEACH, OB01)          15681
(WTC-CORTLANDT, R106)            102
Name: entries, Length: 753, dtype: int64
succeeded

In [72]:
df2=df.drop(['linename','date','time','exits','division','desc'], axis=1)
print (len(df2.index))
df2=df2.drop(df2[df2.entry_increments < 1].index)
df2=df2.drop(df2[df2.station != 'GRD CNTRL-42 ST'].index)
print(df2)
df2.to_csv('/Users/skydivedavis/Documents/gct2.csv')

204934
          c/a  unit       scp          station  entries            datetime  \
157567   R236  R045  00-00-00  GRD CNTRL-42 ST  2022541 2019-06-08 09:00:00
157568   R236  R045  00-00-00  GRD CNTRL-42 ST  2022671 2019-06-08 13:00:00
157569   R236  R045  00-00-00  GRD CNTRL-42 ST  2022906 2019-06-08 17:00:00
157570   R236  R045  00-00-00  GRD CNTRL-42 ST  2023080 2019-06-08 21:00:00
157571   R236  R045  00-00-00  GRD CNTRL-42 ST  2023147 2019-06-09 05:00:00
157572   R236  R045  00-00-00  GRD CNTRL-42 ST  2023167 2019-06-09 09:00:00
157573   R236  R045  00-00-00  GRD CNTRL-42 ST  2023201 2019-06-09 13:00:00
157574   R236  R045  00-00-00  GRD CNTRL-42 ST  2023308 2019-06-09 17:00:00
157575   R236  R045  00-00-00  GRD CNTRL-42 ST  2023426 2019-06-09 21:00:00
157576   R236  R045  00-00-00  GRD CNTRL-42 ST  2023467 2019-06-10 01:00:00
157578   R236  R045  00-00-00  GRD CNTRL-42 ST  2023531 2019-06-10 09:00:00
157579   R236  R045  00-00-00  GRD CNTRL-42 ST  2023711 2019-06-10 13:00:00
157580   R236  R045  00-00-00  GRD CNTRL-42 ST  2024321 2019-06-10 17:00:00
157581   R236  R045  00-00-00  GRD CNTRL-42 ST  2025616 2019-06-10 21:00:00
157582   R236  R045  00-00-00  GRD CNTRL-42 ST  2025747 2019-06-11 01:00:00
157584   R236  R045  00-00-00  GRD CNTRL-42 ST  2025799 2019-06-11 09:00:00
157585   R236  R045  00-00-00  GRD CNTRL-42 ST  2026026 2019-06-11 13:00:00
157586   R236  R045  00-00-00  GRD CNTRL-42 ST  2026605 2019-06-11 17:00:00
157587   R236  R045  00-00-00  GRD CNTRL-42 ST  2027729 2019-06-11 21:00:00
157588   R236  R045  00-00-00  GRD CNTRL-42 ST  2027878 2019-06-12 01:00:00
157590   R236  R045  00-00-00  GRD CNTRL-42 ST  2027934 2019-06-12 09:00:00
157591   R236  R045  00-00-00  GRD CNTRL-42 ST  2028154 2019-06-12 13:00:00
157592   R236  R045  00-00-00  GRD CNTRL-42 ST  2028770 2019-06-12 17:00:00
157593   R236  R045  00-00-00  GRD CNTRL-42 ST  2029843 2019-06-12 21:00:00
157594   R236  R045  00-00-00  GRD CNTRL-42 ST  2029997 2019-06-13 01:00:00
157595   R236  R045  00-00-00  GRD CNTRL-42 ST  2029998 2019-06-13 05:00:00
157596   R236  R045  00-00-00  GRD CNTRL-42 ST  2030088 2019-06-13 09:00:00
157597   R236  R045  00-00-00  GRD CNTRL-42 ST  2030333 2019-06-13 13:00:00
157598   R236  R045  00-00-00  GRD CNTRL-42 ST  2030960 2019-06-13 17:00:00
157599   R236  R045  00-00-00  GRD CNTRL-42 ST  2032101 2019-06-13 21:00:00
...       ...   ...       ...              ...      ...                 ...
160286  R241A  R048  00-00-04  GRD CNTRL-42 ST   645411 2019-06-09 13:00:00
160287  R241A  R048  00-00-04  GRD CNTRL-42 ST   645437 2019-06-09 17:00:00
160288  R241A  R048  00-00-04  GRD CNTRL-42 ST   645447 2019-06-09 21:00:00
160289  R241A  R048  00-00-04  GRD CNTRL-42 ST   645454 2019-06-10 01:00:00
160291  R241A  R048  00-00-04  GRD CNTRL-42 ST   645543 2019-06-10 09:00:00
160292  R241A  R048  00-00-04  GRD CNTRL-42 ST   645637 2019-06-10 13:00:00
160293  R241A  R048  00-00-04  GRD CNTRL-42 ST   645993 2019-06-10 17:00:00
160294  R241A  R048  00-00-04  GRD CNTRL-42 ST   646950 2019-06-10 21:00:00
160295  R241A  R048  00-00-04  GRD CNTRL-42 ST   646964 2019-06-11 01:00:00
160297  R241A  R048  00-00-04  GRD CNTRL-42 ST   647053 2019-06-11 09:00:00
160298  R241A  R048  00-00-04  GRD CNTRL-42 ST   647104 2019-06-11 13:00:00
160299  R241A  R048  00-00-04  GRD CNTRL-42 ST   647404 2019-06-11 17:00:00
160300  R241A  R048  00-00-04  GRD CNTRL-42 ST   648276 2019-06-11 21:00:00
160301  R241A  R048  00-00-04  GRD CNTRL-42 ST   648304 2019-06-12 01:00:00
160302  R241A  R048  00-00-04  GRD CNTRL-42 ST   648305 2019-06-12 05:00:00
160303  R241A  R048  00-00-04  GRD CNTRL-42 ST   648347 2019-06-12 09:00:00
160304  R241A  R048  00-00-04  GRD CNTRL-42 ST   648402 2019-06-12 13:00:00
160305  R241A  R048  00-00-04  GRD CNTRL-42 ST   648671 2019-06-12 17:00:00
160306  R241A  R048  00-00-04  GRD CNTRL-42 ST   649532 2019-06-12 21:00:00
160307  R241A  R048  00-00-04  GRD CNTRL-42 ST   649550 2019-06-13 01:00:00
160308  R241A  R048  00-00-04  GRD CNTRL-42 ST   649551 2019-06-13 05:00:00
160309  R241A  R048  00-00-04  GRD CNTRL-42 ST   649620 2019-06-13 09:00:00
160310  R241A  R048  00-00-04  GRD CNTRL-42 ST   649727 2019-06-13 13:00:00
160311  R241A  R048  00-00-04  GRD CNTRL-42 ST   650020 2019-06-13 17:00:00
160312  R241A  R048  00-00-04  GRD CNTRL-42 ST   650909 2019-06-13 21:00:00
160313  R241A  R048  00-00-04  GRD CNTRL-42 ST   650938 2019-06-14 01:00:00
160315  R241A  R048  00-00-04  GRD CNTRL-42 ST   650992 2019-06-14 09:00:00
160316  R241A  R048  00-00-04  GRD CNTRL-42 ST   651056 2019-06-14 13:00:00
160317  R241A  R048  00-00-04  GRD CNTRL-42 ST   651574 2019-06-14 17:00:00
160318  R241A  R048  00-00-04  GRD CNTRL-42 ST   652119 2019-06-14 21:00:00

        exit_increments  entry_increments  previous_entry_number  \
157567              157                31                2022510
157568              403               130                2022541
157569              508               235                2022671
157570              357               174                2022906
157571              211                67                2023080
157572               87                20                2023147
157573              304                34                2023167
157574              387               107                2023201
157575              282               118                2023308
157576              118                41                2023426
157578             1565                64                2023467
157579             1525               180                2023531
157580             1029               610                2023711
157581             1124              1295                2024321
157582              104               131                2025616
157584             1706                52                2025747
157585             1486               227                2025799
157586              976               579                2026026
157587             1040              1124                2026605
157588              188               149                2027729
157590             1520                56                2027878
157591             1487               220                2027934
157592              823               616                2028154
157593             1121              1073                2028770
157594              178               154                2029843
157595                3                 1                2029997
157596             1804                90                2029998
157597             1888               245                2030088
157598              981               627                2030333
157599             1066              1141                2030960
...                 ...               ...                    ...
160286                1                11                 645400
160287                1                26                 645411
160288                2                10                 645437
160289                2                 7                 645447
160291               13                89                 645454
160292               15                94                 645543
160293                6               356                 645637
160294                9               957                 645993
160295                1                14                 646950
160297                9                89                 646964
160298                7                51                 647053
160299                8               300                 647104
160300                5               872                 647404
160301                3                28                 648276
160302                0                 1                 648304
160303                5                42                 648305
160304                4                55                 648347
160305                3               269                 648402
160306               13               861                 648671
160307                3                18                 649532
160308                0                 1                 649550
160309                3                69                 649551
160310               10               107                 649620
160311                5               293                 649727
160312               18               889                 650020
160313                3                29                 650909
160315                8                54                 650938
160316                2                64                 650992
160317               12               518                 651056
160318               12               545                 651574

         previous_datetime
157567 2019-06-08 05:00:00
157568 2019-06-08 09:00:00
157569 2019-06-08 13:00:00
157570 2019-06-08 17:00:00
157571 2019-06-08 21:00:00
157572 2019-06-09 05:00:00
157573 2019-06-09 09:00:00
157574 2019-06-09 13:00:00
157575 2019-06-09 17:00:00
157576 2019-06-09 21:00:00
157578 2019-06-10 05:00:00
157579 2019-06-10 09:00:00
157580 2019-06-10 13:00:00
157581 2019-06-10 17:00:00
157582 2019-06-10 21:00:00
157584 2019-06-11 05:00:00
157585 2019-06-11 09:00:00
157586 2019-06-11 13:00:00
157587 2019-06-11 17:00:00
157588 2019-06-11 21:00:00
157590 2019-06-12 05:00:00
157591 2019-06-12 09:00:00
157592 2019-06-12 13:00:00
157593 2019-06-12 17:00:00
157594 2019-06-12 21:00:00
157595 2019-06-13 01:00:00
157596 2019-06-13 05:00:00
157597 2019-06-13 09:00:00
157598 2019-06-13 13:00:00
157599 2019-06-13 17:00:00
...                    ...
160286 2019-06-09 09:00:00
160287 2019-06-09 13:00:00
160288 2019-06-09 17:00:00
160289 2019-06-09 21:00:00
160291 2019-06-10 05:00:00
160292 2019-06-10 09:00:00
160293 2019-06-10 13:00:00
160294 2019-06-10 17:00:00
160295 2019-06-10 21:00:00
160297 2019-06-11 05:00:00
160298 2019-06-11 09:00:00
160299 2019-06-11 13:00:00
160300 2019-06-11 17:00:00
160301 2019-06-11 21:00:00
160302 2019-06-12 01:00:00
160303 2019-06-12 05:00:00
160304 2019-06-12 09:00:00
160305 2019-06-12 13:00:00
160306 2019-06-12 17:00:00
160307 2019-06-12 21:00:00
160308 2019-06-13 01:00:00
160309 2019-06-13 05:00:00
160310 2019-06-13 09:00:00
160311 2019-06-13 13:00:00
160312 2019-06-13 17:00:00
160313 2019-06-13 21:00:00
160315 2019-06-14 05:00:00
160316 2019-06-14 09:00:00
160317 2019-06-14 13:00:00
160318 2019-06-14 17:00:00

[2358 rows x 10 columns]

In [65]:
print(df2)
df2.to_csv('/Users/skydivedavis/Documents/gct.csv')

          c/a  unit       scp          station    entries            datetime  \
157648   R236  R045  00-00-02  GRD CNTRL-42 ST   10486054 2019-06-08 05:00:00
157595   R236  R045  00-00-00  GRD CNTRL-42 ST    2029998 2019-06-13 05:00:00
157746   R236  R045  00-00-04  GRD CNTRL-42 ST   12360879 2019-06-11 01:00:00
158738   R238  R046  00-00-04  GRD CNTRL-42 ST     897296 2019-06-14 04:00:00
157677   R236  R045  00-00-02  GRD CNTRL-42 ST   10491650 2019-06-13 05:00:00
157659   R236  R045  00-00-02  GRD CNTRL-42 ST   10486547 2019-06-10 05:00:00
157718   R236  R045  00-00-03  GRD CNTRL-42 ST    4008277 2019-06-13 05:00:00
159082   R238  R046  00-05-00  GRD CNTRL-42 ST   34211474 2019-06-08 12:00:00
159080   R238  R046  00-05-00  GRD CNTRL-42 ST   34211473 2019-06-08 04:00:00
158919   R238  R046  00-03-01  GRD CNTRL-42 ST   21079908 2019-06-09 08:00:00
158534   R238  R046  00-00-00  GRD CNTRL-42 ST      85724 2019-06-08 04:00:00
158284   R237  R046  01-00-05  GRD CNTRL-42 ST    6053956 2019-06-10 00:00:00
158277   R237  R046  01-00-05  GRD CNTRL-42 ST    6053955 2019-06-09 00:00:00
157977   R236  R045  00-06-00  GRD CNTRL-42 ST    5659710 2019-06-08 09:00:00
157992   R236  R045  00-06-00  GRD CNTRL-42 ST    5661939 2019-06-11 01:00:00
158044   R236  R045  00-06-01  GRD CNTRL-42 ST    6490426 2019-06-13 01:00:00
157999   R236  R045  00-06-00  GRD CNTRL-42 ST    5664004 2019-06-12 05:00:00
158005   R236  R045  00-06-00  GRD CNTRL-42 ST    5665982 2019-06-13 05:00:00
158714   R238  R046  00-00-04  GRD CNTRL-42 ST     896367 2019-06-10 04:00:00
158095   R237  R046  01-00-00  GRD CNTRL-42 ST    1298447 2019-06-14 08:00:00
158104   R237  R046  01-00-01  GRD CNTRL-42 ST    3851138 2019-06-08 20:00:00
158666   R238  R046  00-00-03  GRD CNTRL-42 ST    2435741 2019-06-09 04:00:00
158081   R237  R046  01-00-00  GRD CNTRL-42 ST    1297658 2019-06-12 00:00:00
158660   R238  R046  00-00-03  GRD CNTRL-42 ST    2435421 2019-06-08 04:00:00
158087   R237  R046  01-00-00  GRD CNTRL-42 ST    1298044 2019-06-13 00:00:00
158582   R238  R046  00-00-01  GRD CNTRL-42 ST     581059 2019-06-09 04:00:00
158625   R238  R046  00-00-02  GRD CNTRL-42 ST      29664 2019-06-09 08:00:00
158606   R238  R046  00-00-01  GRD CNTRL-42 ST     581813 2019-06-13 04:00:00
158600   R238  R046  00-00-01  GRD CNTRL-42 ST     581625 2019-06-12 04:00:00
160086   R240  R047  00-03-08  GRD CNTRL-42 ST   38489917 2019-06-11 05:00:00
...       ...   ...       ...              ...        ...                 ...
159356  R238A  R046  02-00-01  GRD CNTRL-42 ST     547815 2019-06-11 20:00:00
159413  R238A  R046  02-00-02  GRD CNTRL-42 ST    1847876 2019-06-13 20:00:00
159633  R238A  R046  02-03-02  GRD CNTRL-42 ST    2109848 2019-06-13 20:00:00
159627  R238A  R046  02-03-02  GRD CNTRL-42 ST    2101948 2019-06-12 20:00:00
159620  R238A  R046  02-03-02  GRD CNTRL-42 ST    2093997 2019-06-11 20:00:00
159589  R238A  R046  02-03-01  GRD CNTRL-42 ST    1651536 2019-06-13 20:00:00
159363  R238A  R046  02-00-01  GRD CNTRL-42 ST     555734 2019-06-12 20:00:00
159457  R238A  R046  02-00-03  GRD CNTRL-42 ST    1822191 2019-06-13 20:00:00
159576  R238A  R046  02-03-01  GRD CNTRL-42 ST    1635198 2019-06-11 20:00:00
159400  R238A  R046  02-00-02  GRD CNTRL-42 ST    1831173 2019-06-11 20:00:00
159583  R238A  R046  02-03-01  GRD CNTRL-42 ST    1643250 2019-06-12 20:00:00
159463  R238A  R046  02-00-03  GRD CNTRL-42 ST    1830675 2019-06-14 20:00:00
159614  R238A  R046  02-03-02  GRD CNTRL-42 ST    2086135 2019-06-10 20:00:00
159407  R238A  R046  02-00-02  GRD CNTRL-42 ST    1839763 2019-06-12 20:00:00
159545  R238A  R046  02-03-00  GRD CNTRL-42 ST  654582523 2019-06-13 20:00:00
159501  R238A  R046  02-00-04  GRD CNTRL-42 ST    2764054 2019-06-13 20:00:00
159444  R238A  R046  02-00-03  GRD CNTRL-42 ST    1804145 2019-06-11 20:00:00
159539  R238A  R046  02-03-00  GRD CNTRL-42 ST  654573095 2019-06-12 20:00:00
159595  R238A  R046  02-03-01  GRD CNTRL-42 ST    1659702 2019-06-14 20:00:00
159570  R238A  R046  02-03-01  GRD CNTRL-42 ST    1627271 2019-06-10 20:00:00
159507  R238A  R046  02-00-04  GRD CNTRL-42 ST    2772950 2019-06-14 20:00:00
159451  R238A  R046  02-00-03  GRD CNTRL-42 ST    1813373 2019-06-12 20:00:00
159394  R238A  R046  02-00-02  GRD CNTRL-42 ST    1822910 2019-06-10 20:00:00
159495  R238A  R046  02-00-04  GRD CNTRL-42 ST    2754409 2019-06-12 20:00:00
159551  R238A  R046  02-03-00  GRD CNTRL-42 ST  654591218 2019-06-14 20:00:00
159532  R238A  R046  02-03-00  GRD CNTRL-42 ST  654564183 2019-06-11 20:00:00
159488  R238A  R046  02-00-04  GRD CNTRL-42 ST    2744965 2019-06-11 20:00:00
159438  R238A  R046  02-00-03  GRD CNTRL-42 ST    1795221 2019-06-10 20:00:00
159526  R238A  R046  02-03-00  GRD CNTRL-42 ST  654555070 2019-06-10 20:00:00
159482  R238A  R046  02-00-04  GRD CNTRL-42 ST    2735367 2019-06-10 20:00:00

        exit_increments  entry_increments  previous_entry_number  \
157648                1                 1               10486053
157595                3                 1                2029997
157746                3                 1               12360878
158738               26                 1                 897295
157677                4                 1               10491649
157659                1                 1               10486546
157718                0                 1                4008276
159082                0                 1               34211473
159080                0                 1               34211472
158919               29                 1               21079907
158534               10                 1                  85723
158284                2                 1                6053955
158277                9                 1                6053954
157977                0                 1                5659709
157992                0                 1                5661938
158044                2                 1                6490425
157999                2                 1                5664003
158005                0                 1                5665981
158714               15                 1                 896366
158095               50                 1                1298446
158104                1                 1                3851137
158666               56                 1                2435740
158081                1                 1                1297657
158660               56                 1                2435420
158087                7                 1                1298043
158582               63                 1                 581058
158625               74                 1                  29663
158606               29                 1                 581812
158600               15                 1                 581624
160086                9                 1               38489916
...                 ...               ...                    ...
159356               64              2693                 545122
159413               35              2734                1845142
159633               24              2742                2107106
159627               20              2757                2099191
159620               22              2777                2091220
159589               19              2873                1648663
159363               39              2880                 552854
159457               35              2897                1819294
159576               26              2904                1632294
159400               39              2940                1828233
159583               24              2942                1640308
159463               28              2953                1827722
159614               22              2975                2083160
159407               34              2980                1836783
159545               45              3052              654579471
159501               17              3091                2760963
159444               21              3092                1801053
159539               30              3106              654569989
159595               16              3119                1656583
159570               36              3119                1624152
159507               17              3155                2769795
159451               40              3161                1810212
159394               42              3164                1819746
159495               18              3219                2751190
159551               20              3237              654587981
159532               34              3278              654560905
159488               22              3323                2741642
159438               42              3325                1791896
159526               29              3431              654551639
159482               20              3547                2731820

         previous_datetime
157648 2019-06-08 01:00:00
157595 2019-06-13 01:00:00
157746 2019-06-10 21:00:00
158738 2019-06-14 00:00:00
157677 2019-06-13 01:00:00
157659 2019-06-10 01:00:00
157718 2019-06-13 01:00:00
159082 2019-06-08 08:00:00
159080 2019-06-08 00:00:00
158919 2019-06-09 04:00:00
158534 2019-06-08 00:00:00
158284 2019-06-09 20:00:00
158277 2019-06-08 20:00:00
157977 2019-06-08 05:00:00
157992 2019-06-10 21:00:00
158044 2019-06-12 21:00:00
157999 2019-06-12 01:00:00
158005 2019-06-13 01:00:00
158714 2019-06-10 00:00:00
158095 2019-06-14 04:00:00
158104 2019-06-08 16:00:00
158666 2019-06-09 00:00:00
158081 2019-06-11 20:00:00
158660 2019-06-08 00:00:00
158087 2019-06-12 20:00:00
158582 2019-06-09 00:00:00
158625 2019-06-09 04:00:00
158606 2019-06-13 00:00:00
158600 2019-06-12 00:00:00
160086 2019-06-11 01:00:00
...                    ...
159356 2019-06-11 16:00:00
159413 2019-06-13 16:00:00
159633 2019-06-13 16:00:00
159627 2019-06-12 16:00:00
159620 2019-06-11 16:00:00
159589 2019-06-13 16:00:00
159363 2019-06-12 16:00:00
159457 2019-06-13 16:00:00
159576 2019-06-11 16:00:00
159400 2019-06-11 16:00:00
159583 2019-06-12 16:00:00
159463 2019-06-14 16:00:00
159614 2019-06-10 16:00:00
159407 2019-06-12 16:00:00
159545 2019-06-13 16:00:00
159501 2019-06-13 16:00:00
159444 2019-06-11 16:00:00
159539 2019-06-12 16:00:00
159595 2019-06-14 16:00:00
159570 2019-06-10 16:00:00
159507 2019-06-14 16:00:00
159451 2019-06-12 16:00:00
159394 2019-06-10 16:00:00
159495 2019-06-12 16:00:00
159551 2019-06-14 16:00:00
159532 2019-06-11 16:00:00
159488 2019-06-11 16:00:00
159438 2019-06-10 16:00:00
159526 2019-06-10 16:00:00
159482 2019-06-10 16:00:00

[2358 rows x 10 columns]

In [60]:
tuple1 = ('59 ST', 'A002', 1)

def string_from_tuple (tup):
    return tup[0]+','+tup[1]+','+str(tup[2])

summary_data = pd.DataFrame(
    data={'c_a_station_time_block': [tuple1],
          'c_a_station': [('59 ST', 'A002')],
          'time_block': [1],
          'entries': [7]},
    index=[string_from_tuple (tuple1)],
    columns=['c_a_station_time_block', 'c_a_station', 'time_block', 'entries'])

print (summary_data)

print (summary_data.loc [string_from_tuple (tuple1)])

summary_data.loc [string_from_tuple (('59 ST', 'A002', 2))] = [('59 ST', 'A002', 2), ('59 ST', 'A002'), 2, 5]
print (summary_data)

             c_a_station_time_block    c_a_station  time_block  entries
59 ST,A002,1       (59 ST, A002, 1)  (59 ST, A002)           1        7
c_a_station_time_block    (59 ST, A002, 1)
c_a_station                  (59 ST, A002)
time_block                               1
entries                                  7
Name: 59 ST,A002,1, dtype: object
             c_a_station_time_block    c_a_station  time_block  entries
59 ST,A002,1       (59 ST, A002, 1)  (59 ST, A002)           1        7
59 ST,A002,2       (59 ST, A002, 2)  (59 ST, A002)           2        5