In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import datetime

In [3]:
url = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_190629.txt'
df = pd.read_csv(url, header = 0, sep=',')
df.columns = map(str.lower, df.columns) # - make headers lowercase

In [4]:
df.head(5)

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,00:00:00,REGULAR,7107725,2407457
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,04:00:00,REGULAR,7107738,2407465
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,08:00:00,REGULAR,7107761,2407491
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,12:00:00,REGULAR,7107858,2407541
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/22/2019,16:00:00,REGULAR,7108075,2407581

In [9]:
df['ttime'] = df.apply (lambda x: datetime.datetime.strptime (x['time'], '%H:%M:%S'), axis=1)
df['tdate'] = df.apply (lambda x: datetime.datetime.strptime (x['date'], '%m/%d/%Y'), axis=1)
df['datetime'] = df.apply (lambda x: datetime.datetime (x['tdate'].year, x['tdate'].month, x['tdate'].day,
                                                       x['ttime'].hour, x['ttime'].minute, x['ttime'].second), axis=1)

In [ ]:
df.groupby()